@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  cursor: crosshair;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cross-hair-grid {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cross-hairs {
  display: grid;
  grid-template-columns: repeat(5, auto);
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 123.5%;
  overflow: hidden;
}

.cross-hair {
  width: 100px;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  filter: brightness(0) saturate(100%);
  padding-left: 10px;
}

.sky {
  width: 80%;
  margin-bottom: 40px;
  filter: saturate(1) contrast(5000%) invert(100%) grayscale(100%)
    brightness(600%);
}

.sky-gif {
  filter: saturate(1) contrast(5000%) invert(100%) grayscale(100%)
    brightness(600%);
}

.sky-gif:hover {
  filter: none;
}

h1 {
  font-size: clamp(24px, 3vw, 40px);
}

h2 {
  font-size: clamp(10px, 3vw, 17px) !important;
}

p {
  font-size: min(3vw, 16px);
}

.one {
  position: absolute;
  left: 10px;
  bottom: 0;
}

.box1 {
  height: 35vh;
  width: 25px;
  border-right: 0.4px dashed black;
  border-top: 0.4px solid black;
}

.box2 {
  height: 200px;
  width: 25px;
  border-right: 0.4px dashed black;
  border-top: 0.4px solid black;
}

.home-wrapper {
  height: calc(100% - 100px);
}

section {
  box-sizing: border-box;
  width: 100%;
  /* height: 101vh; */
  /* display: flex; */
  /* justify-content: flex-start; */
  overflow: hidden;
}

section span {
  display: block;
  transform: translateX(-50px);
  opacity: 0;
}

.thumbnail {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: height 0.3s ease; /* Smooth transition */
}

.thumbnail:hover {
  height: 410px;
}

@media (max-width: 768px) {
  .thumbnail {
    height: 200px; /* Set height to 200px on smaller screens */
  }
}

.bio {
  font-size: min(3vw, 19px) !important;
}

@media screen and (max-width: 900px) {
  .extra-info {
    display: none;
  }
}

@media (max-width: 900px) {
  .MuiImageList-root {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .MuiImageList-root {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .MuiImageList-root {
    grid-template-columns: repeat(1, 1fr);
  }
}
